* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #1e3c72, #6c7a91);
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
}

fieldset {
    width: 35rem;
    padding: 4rem;
    border: none;
    border-radius: 12px;
    background: white;
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    animation: subir 0.8s ease-out;
}

h1 {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 3rem;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.8rem;
}

label {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

input {
    padding: 1rem;
    font-size: 1.4rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

input:focus {
    outline: none;
    border: 1px solid #1e3c72;
    box-shadow: 0 0 5px rgba(30, 60, 114, 0.3);
}

input::placeholder {
    font-size: 1rem;
}

/* Remove setas Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove setas Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

a {
    font-size: 1.2rem;
    text-align: right;
    margin-bottom: 2rem;
    text-decoration: none;
    color: #1e3c72;
}

a:hover {
    text-decoration: underline;
}

button {
    padding: 1.2rem;
    font-size: 1.4rem;
    border-radius: 6px;
    border: none;
    background: #1e3c72;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #16305a;
}


@keyframes subir {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

