<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <main>
        <h1>Titulo</h1>
        <form action ="/salvar" method="post">
            <label for="">CNPJ</label>
            <input type="number" name="cnpj">
            <label for="">Login</label>
            <input type="text" name="login">
            <label for="">Senha</label>
            <input type="password" name="senha">
            <button>Entrar</button>
            <label for="">Esqueceu a senha/</label>
            
        </form>
    </main>

    
</body>
</html>