<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
</head>

<body>
    <form action="" method="POST">
    <fieldset>
        <h1>FlexGestor</h1>

        <div class="campo">
            <label for="doc">CNPJ</label>
            <input type="number" id="doc" name="cnpj" required autofocus placeholder="Digite o seu CNPJ">
        </div>

        <div class="campo">
            <label for="login">Login</label>
            <input type="text" id="login" name="login" required placeholder="Digite o seu Login">
        </div>

        <div class="campo">
            <label for="pass">Senha</label>
            <input type="password" id="pass" name="senha" required placeholder="Digite a sua Senha">
        </div>

        <a href="#">Esqueceu a senha?</a>

        <button type="submit">Entrar</button>
    </fieldset>
</form>
</body>
</html>