@{
    Layout = "~/Views/Shared/_Layout.cshtml"; -- aqui coloca o caminho do menu.
    ViewBag.Title = "Dashboard"; aqui se quiser que puxe um titulo automatico
}


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\Pc\Documents\GitHub\TCC-Flexgestor\WebApplication5\wwwroot\css\homeCSS\home.css">
    
    <title>Início - FlexGestor</title>
</head>

<body>


    <div class="container">
        <main>
            <h2>Bem-vindo ao FlexGestor!</h2>
            <div class="cards">
                <div class="card">
                    <h1>KPI</h1>
                </div>
                <div class="card">
                    <h1>KPI</h1>
                </div>

                <div class="card">
                    <h1>KPI</h1>
                </div>
            </div>
        </main>
    </div>

    
</body>

</html>