<!DOCTYPE html>
<html lang=pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>

<body>

    <header class="cabecalho">
        <h1>FlexGestor</h1>
        <a href="Login/login.html" class="sair">Sair</a>
    </header>

    <nav class="sidebar">
        <ul>
            <li><a href="Usuario/usuario.html" target="_self">Usuário</a></li>
            <li><a href="#" target="_self">Clientes</a></li>
            <li><a href="#" target="_self">Produtos</a></li>
            <li><a href="#" target="_self">Estoque</a></li>
            <li class="menu-relatorios">
                <span>Análise Gerencial</span>
                <ul class="submenu">
                    <li><a href="#" target="_self">Relatório 1</a></li>
                    <li><a href="#" target="_self">Relatório 2</a></li>
                    <li><a href="#" target="_self">Relatório 3</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <script src="menu.js"></script>

</body>

</html>