<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

    <h2>Login</h2>

    <input type="text" id="login" placeholder="Login" />
    <br />
    <input type="password" id="senha" placeholder="Senha" />
    <br />
    <button id="btnLogin">Entrar</button>

    <script>

        $("#btnLogin").click(function () {

            var dados = {
                login: $("#login").val(),
                senha: $("#senha").val()
            };

            $.ajax({
                url: "/Usuario/Login",
                type: "POST",
                data: dados,
                success: function (retorno) {

                    if (retorno != null) {
                        alert("Login realizado!");
                    }
                    else {
                        alert("Usuário inválido");
                    }

                }
            });

        });

    </script>

</body>
</html>
